<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/job.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <title>Job Application Page</title>
  </head>
  <body>
    <div class="container">
      <div class="contact_data">
        <h2>Application Form</h2>
        <% if(show) {%>
        <h5><%= message %></h5>
        <form action="/apply" method="post">
          <label for="">Full Name</label>
          <input type="text" name="fullname" />
          <label for="">Email</label>
          <input type="email" name="email" />
          <label for="">Address</label>
          <input type="text" name="address" />
          <label for="">State</label>
          <input type="text" name="state" />
          <label for="">City</label>
          <input type="text" name="city" />
          <label for="">Zip Code</label>
          <input type="text" name="zipcode" />
          <label for="">Cell</label>
          <input type="text" name="cell" />
          <label for="">DOB</label>
          <input type="text" name="dbo" />
          <legend>Remote Jobs list</legend>
          <select class="form-control dropdown" id="occupation" name="occupation">
            <option value="" selected="selected" disabled="disabled">-- select one --</option>
            <optgroup label="Remote Job List:">
              <option value="1">-  Data Entry</option>
              <option value="2">-  Clerical Admin</option>
              <option value="3">-  Administrative clerk / Assistance</option>
              <option value="4">-  Typist Clerk</option>
              <option value="5">-  IT Jobs</option>
            </optgroup>
          </select>
          <!-- <label for="">Message</label>
          <textarea name="" id="" cols="30" rows="05"></textarea> -->
          <button type="submit">Send Application</button>
    
          
        </form>
        <%} else {%>
              <form action="/apply" method="post">
          <label for="">Full Name</label>
          <input type="text" name="fullname" />
          <label for="">Email</label>
          <input type="email" name="email" />
          <label for="">Address</label>
          <input type="text" name="address" />
          <label for="">State</label>
          <input type="text" name="state" />
          <label for="">City</label>
          <input type="text" name="city" />
          <label for="">Zip Code</label>
          <input type="text" name="zipcode" />
          <label for="">Cell</label>
          <input type="text" name="cell" />
          <label for="">DOB</label>
          <input type="text" name="dbo" />
          <legend>Remote Jobs list</legend>
          <select class="form-control dropdown" id="occupation" name="occupation">
            <option value="" selected="selected" disabled="disabled">-- select one --</option>
            <optgroup label="Remote Job List:">
              <option value="1">-  Data Entry</option>
              <option value="2">-  Clerical Admin</option>
              <option value="3">-  Administrative clerk / Assistance</option>
              <option value="4">-  Typist Clerk</option>
              <option value="5">-  IT Jobs</option>
            </optgroup>
          </select>
          <!-- <label for="">Message</label>
          <textarea name="" id="" cols="30" rows="05"></textarea> -->
          <button type="submit">Send Application</button>
    
          
        </form>
        <%}%>
       
      </div>
    </div>









      <!-- <select name="languages" id="lang">
        <option value="1">-  Data Entry</option>
            <option value="2">-  Clerical Admin</option>
            <option value="3">-  Administrative clerk / Assistance</option>
            <option value="4">-  Typist Clerk</option>
            <option value="5">-  IT Jobs</option>
      </select> -->

  </body>
</html>